<p>board works!</p>
<button (click)="shortPath($event)">Search</button>
<button (click)="searchMap($event)">Short Path Service</button>
<hr/>
<table class="container">
    <tr *ngFor="let r of rows" id={{r}}>
        <td *ngFor="let c of columns" id="{{r * width + c}}">
            <app-cell [isStart]="r*width+c == startIdx" [isFinish]="r*width+c == finishIdx" [index]="r * width + c"
                [isMousePressed]="isMousePressed()" 
                #cell></app-cell>
        </td>
    </tr>
</table>
