<div class="navbar">
  <div class="container-fluid">
    <div class="nav-header">
      <a class="logo" href="" target="_blank">
        <img src="../assets/images/icons8-labyrinth-64.png">
         Pathfinding Visualizer
      </a>
    </div>
    <div class="navbar-nav">
      <div class="dropdown">
        <label for="options">Mazes patterns: </label>
        <app-dropdown [options]="mazeOptions" (changed)="selectMaze($event)"/>
      </div>
      <button (click)="generateMaze()">Generate maze</button>
      <div class="dropdown">
        <label for="options">Algorithms: </label>
        <app-dropdown [options]="algorithmOptions" (changed)="selectAlgorithm($event)" #algo/>
      </div>
      <div class="dropdown">
        <label for="options">Search Speed: </label>
        <app-dropdown [options]="speedOptions" (changed)="selectSpeed($event)" #algo/>
      </div>
      <button (click)="visualize($event)">Visualize!</button>
      <button (click)="clearBoard()">Clear board</button>
      <button (click)="clearSearch()">Clear Search</button>
    </div>

    <!-- github link -->
    <div class="links">
      <a class="header-link" href="" target="_blank">
        <img src="../assets/images/GitHub-Mark-Light-32px.png">
         github
      </a>
    </div>
  </div>

</div>
<board #board></board>
